body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3, h4, p{
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
}
#topPic
{
    height: 25%;
    object-fit: cover;
}
#club-title{
    text-decoration: underline;
    background-color: #002D5B;
    color: white;
    margin: 0px;
    font-size: 280%;
    padding: 10px;
    padding-left: 15%;
}
#page-content
{
    margin: 15%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 80% 1fr;
    align-content: center;
}
#page-content #contact img{
    width: 70%;
    border: #63554F solid 1px;
}
#page-content #left-block
{
    border-left: #63554F solid 1px;
    padding-left: 10%;
}

#aboutUs p
{
    text-align: center;
    font-size: 16pt;
    color: #63554F;
    font-family: "pt-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#meetInfo h3, #aboutUs h3, #contact h3, #project_outer h2, #evn_block h2
{
    font-family: "adobe-garamond-pro", serif;
    color: #002D5B;
    font-size: 35px;
    text-align: left;
    font-weight: 400;
    padding-left: 5%;
}
#meetInfo p, #contact p{
    font-family: "pt-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#event_outer h2{
    font-size: 35px;
    color: white;
    text-align: left;
    margin: 0px;
}
#event_outer .inner{
    background-color: white;
    margin: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#event_outer .inner h4{
    font-family: "adobe-garamond-pro", serif;
    color: #002D5B;
    font-size: 25pt;
}
#event_outer .inner p{
    font-family: "pt-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
}
#event_outer{
    background-color: #002D5B;
    margin: 0px;
    margin-left: 5%; margin-right: 5%;
    padding: 20px;
}
.mid{
    overflow: hidden;
}
.middleBox{
    white-space: nowrap;
    transition: all 0.5s;
}
#project_outer{
    margin: 0px;
}


#project_outer .block{
    padding: 5%;
    width: 90%;
    transition: all 0.5s;
}
#project_outer .block-clicked{
    position: absolute;
    z-index: 10;
    padding: 15px;
    background-color: #002D5B;
    color: white;
    left: 8%;
    transition: all 0.5s;
}
#project_outer .block-clicked h4{
    color: white;
    border-bottom: white solid 3px;
}
#project_outer h4{
    color: #002D5B;
    text-align: center;
    border-bottom: #002D5B solid 3px;
    margin-left: 10px;
    font-size: 25px;
}
#project_outer p{
    color: #002D5B;
    text-align: center;
}

.frqSec h4{
    font-size: 30px;
}
.frqSec p{
    font-size: 20px;
}
#club-list ul{
    list-style-type: none;
}
#frq_outer{
    margin: 0px;
    margin-left: 5%; margin-right: 5%;
}
h2{
    text-align: center;
    padding: 10px;
    font-size: 200%;
}


#footer{
    background-color: #002D5B;
    color: white;
    margin: 0;
    padding-top: 20px; padding-bottom: 20px;
    overflow: hidden;
    width: 100%;
}
#footer p{
    text-align: center;
}